includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app/
    ignoreErrors:
        - '#Unsafe usage of new static.*#'
    excludePaths:
        - ./*/*/FileToBeExcluded.php
